body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 10rem 4rem 10rem;
    border: 1px solid black;
    background-image: url(images/dark-vip-cinema-studio-still-life.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: whitesmoke;
    text-transform: uppercase;
}

.sOne {
    width: 75%;
    margin: auto;
    position: absolute;
    top: 19%;
    right: 10%;
    display: flex;
}

.btnS {
    width: 45%;
    font-size: 1.25rem;
    padding: 0.5rem;
}

input[type=text] {
    width: 32rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
  }

  img {
    width: 25%;
    opacity: 85%;
    margin-top: 15rem;
  }

  .sTwo {
    display: flex;
    justify-content: center;
  }