body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 10rem 4rem 10rem;
    border: 1px solid black;
    background-image: url(../images/dark-vip-cinema-studio-still-life.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: whitesmoke;
    text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

h3 a {
  color: whitesmoke;
}

h3 a:hover {
  border-bottom: 1px solid whitesmoke;
  padding: 0.2rem 0 0.2rem 0.2rem;
}

.sOne {
    width: 85%;
    margin: 1.25rem auto 3.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sOne input, button {
  border: 2px solid gainsboro;
}

input:focus {
  border: 1px solid black;
  outline: none;
}

.sOne input {
  width: 90%;
  padding: 1rem 5rem 1rem 1.25rem;
  border-radius: 10px;
}

.sOne button {
  background-color: whitesmoke;
  height: 100%;
  width: 25%;
  padding: 1rem 0;
}

.movie_plaeholder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
    max-width: 45%;
    min-width: 24%;
    /* max-height: 35%; */
    margin: auto 1.5rem auto 0;
  }

.movie_titleAndRate {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
  }

.movie_text, .movie_title {
  font-size: 2rem;
  word-break: keep-all;
}

.movie_title {
  margin-right: 2rem;
}

/* img, .sTwo, .movie, .movie_title, .movie_info, .movie_text {
  border: 1px solid black;
} */

.sTwo {
  display: flex;
  width: 75%;
  align-items: center;
  }

.movie_info {
    display: flex;
    justify-content: space-between;
    font-size: 1.45rem;
    width: 80%;
  }

.movie {
  width: 100%;
}

.end_of_section {
    border-bottom: 2px solid #393333;
    margin: 25px auto 25px auto;
    width: 75%;
    opacity: 35%;
  }

.img_gone {
  opacity: 75%;
  margin-top: 5rem;
}

.movie_plaeholder img {
  width: 1.5rem;
}

.watchList:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}